 .titleColor{
   color: rgba(252, 106, 125, 0.919) !important;
 }
 .buttonColor{
   background-color: rgba(252, 106, 125, 0.919) !important;
 }
 .footerBColor{
   background-color: rgba(252, 106, 125, 0.919) !important;
 }
 .descriptionAline{
   text-align: justify!important;
 }